.section_card {
  margin: auto;
  text-align: center;
  background-color: #231e26;
  display: grid;
  height: 30rem;
}

.section_div_input {
  margin: auto;
}

.section_input {
  box-sizing: border-box;
  width: 40rem;
  height: 3rem;
  background-color: transparent;
  border: 1px solid #dd2827;
  border-radius: 51px;
}

.section_grid {
  
  display: flex;
  column-gap: 30px;
  margin: auto;
}
