.header {
  height: 567.13px;
  background-image: url(/public/other/slider.png);
  background-repeat: round;
}

.header_head {
  height: 95px;
  display: flex;
  justify-content: space-between;  
}

.logo {
  margin: 10px;
}

.header-btn {
  margin: 20px 20px;
  display:flex;
  column-gap: 20px;
}

.header_h1 {
  text-align: center;
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
}
